@model ErrorViewModel
@{

    ViewData["Title"] = Model == null ? "Erro" : Model.Title;
}

@{
    if (Model == null)
    {
        <h1>Ooops! Ocorreu um erro! Nosso time de suporte irá analisá-lo e em breve será corrigido.</h1>
    }
    else
    {
        <h1>@Html.Raw(Model.Title)</h1>
        <h2 class="text-danger">@Html.Raw(Model.Message)</h2>
    }

}
